@import "./theme/index.css";

@font-face {
  font-family: 'Cool jazz';
  src: url('./17632.ttf');

}

.error-message {
  color: red;
}

.dialog-body {
  word-break: normal;
}
.layout {
  font-family: 'Cool jazz';
  margin: auto;
  padding: 2rem;
  max-width: 350px;
  background-color: #ffffffde;
}
@media screen and (max-width: 480px) { 
    .layout {
      margin: 0 auto;
    }
}
.layout__item {
  margin-top: 0.5rem;
  width: 100%;
}

.layout__title {
  text-align: center;
  color: #080D38;
}

.layout__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
}

@media screen and (max-width: 480px) { 
  .layout__actions {
    flex-direction: column;
  }
  .layout__action {
    margin-top: 0.5rem;
    width: 100%;
  }
}

.content{
  min-height: 100%; 
  background-size: cover;
  padding: 1rem;
}

.info-bg {
  background-image: url('./info-bg.jpg');
  background-color: #EFEAE2;
}

.login-bg {
  background-image: url('./login-bg.jpg');
  background-position: center bottom;
  background-color: #080D38;
}

p.ql-align-center {
  text-align: center;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}
p.ql-align-right {
  text-align: right;
  margin-block-end: 0.5rem;
  margin-block-start: 0.5rem;
}

.task-view {
  max-height: 300px;
  overflow: hidden scroll;
  word-break: break-word;
  padding: 1rem;
  background-color: #f8f7f5;
}
.task-view > p > img {
  width: 100%;
}